header, body, h1{
    margin: 0; 
    padding: 0;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
}

header, footer{
    background-color: #bb2e29;
    color: #ffffff;
}

header div:first-of-type{
    flex-grow: 1;
    margin: 10px 0 10px 5%;
    display: flex;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-around;
}

header div img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

header button{
    width: 40px;
    height: 40px;
    margin: 10px 30px 10px 0;
}

#hamburger, #x, .ico-notifica{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 10px 30px 10px 0;
}

main section.intro div{
    display:inline-block;
    vertical-align: top;
}

main div.descrizione{
    margin: 0 8% 0 2%;
    width:40%;
    box-sizing: border-box;
}

main section.intro div.img-destra{
    margin:0px 0% 20px 0%;
    width:50%;
    box-sizing: border-box;
    align-items: right;
    padding: 0;
}

main section.intro div.img-destra img{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

/*css profilo*/

main h2{
    margin-left: 2%;
    margin-top: 0px;
    padding-top: 10px;
}

section.gest-utente, section.iscr-sg, section.el-cdl, section.esame, section.contatti {
    margin: 0 1% 0 1%;
}

.gest-utente div.intestazione-user{
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.intestazione-user h2{
    text-align: left;
}

section.gest-utente h3, section.iscr-sg h3{
    text-align: center;
}

section.gest-utente div{
    padding: 5px 1% 5px 1%;
    margin-bottom: 10px;
}

section.gest-utente>div{
    background-color: #f2f2f2;
}

.sgcard, .prefcard{
    display: flex;
    width: 500px;
    padding: 10px;
    justify-content: space-around;
    border-radius: 10px;
    border: 1px solid #dddddd;
    margin: 20px;
    align-items: center;
}

.sgcard{
    background-color: #f2f2f2;
}

.prefcard{
    background-color: #ffffff;
}

.form-mod-pref{
    width: 80%;
    display: none;
}

.sgdesc ul li:last-of-type, .sgdesc ul li:nth-last-child(2), .prefdesc ul li:last-of-type, .prefdesc ul li:nth-last-child(2){
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
}

.sgdesc ul li a:hover{
    color:#bb2e29;
}

.el-sgcard, .elenco-prefcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form ul{
    list-style: none;
    width: 80%;
    margin: 0 10%;
    padding: 0;  
}

form ul li:not(form ul li:last-child){
    margin-bottom: 10px;
}

form ul li:last-child, section.gest-utente div ul li:last-child{
    text-align: right;
}

form ul li label{
    display: inline-block;
    width: 40%;
    text-align: left;
    cursor: pointer;
}

form ul li input:not([type="submit"]), form ul li select{
    width: 50%;
    box-sizing: border-box;
}

form ul li input[type="submit"]{
    cursor: pointer;
    border-width: 0;
    background-color: #bb2e29;
    color: #ffffff;
}

.guardapwd{
    margin-left: 5px;
}

.gest-utente div>button, .study-gr-anno li>button{
    border-width: 0;
    width: 100%;
}

button img{
    width: 15px;
    height: 15px;
}

div.sgcard div, .prefcard div{
    margin: 0 1% 0 1%
}

div.sgimg img, .prefimg img{
    width: 200px;
    height: 200px;
}

button[value="ÊŒ"], form#chgpwd, #chgcdl, #chgana, #delacc, #x, #nav-principale, #elenco-preferenze{
    display: none;
}

/* menu principale */

#nav-principale{
    position: absolute;
    background-color: #bb2e29;
    right: 0px;
    z-index: 1;
    padding-right: 30px;
    text-align: right;
}

nav ul, div ul{
    list-style: none;
}

nav ul li{
    padding-top: 10px;
}

#nav-principale ul li a{
    text-decoration: none;
    color:#f2f2f2;
}

#nav-principale ul li:first-of-type {
    color: #f2f2f2;
    padding-bottom: 20px;
    font-weight: bold;
}

#nav-principale ul li a:hover, div ul li a:hover{
    text-decoration: underline;
}

.study-gr-anno ul li button, .gest-utente div>button{
    cursor: pointer;
}

h2{
    text-align: center;
}

div ul{
    padding: 0;
}

div ul li a{
    text-decoration: none;
    color: black;
}

.card-cdl, .card-esame {
    display: flex;
    background-color: #f2f2f2;
    padding: 20px 2% 20px 2%;
    align-items: center;
}

.card-img{
    display: flex;
}

.study-gr-anno ul{
    background-color:#ffffff;
}

div.study-gr-anno ul li{
    text-align: center;
    font-weight: bold;
    margin: 5px 0 5px 0;
    padding: 10px 0 0 0;
    vertical-align: center;
}

.card-stGr-img img, .study-gr-anno ul div img, .card-img img{
    max-width: 130px;
    max-height: 130px;
}

.card-text{
    padding-left: 20px;
    width: 100%;
}

.card-text li button, .button-sg form input, .card-text li button {
    margin: 10px 0 0 0;
    padding: 3px;
}

.study-gr-corso h3, .study-gr-anno h3{
    text-align: center;
}

.study-gr-corso, .study-gr-anno{
    background-color: #f2f2f2;
    padding: 20px 2% 20px 2%;
    margin: 5px 0 5px 0;
}

.card-study-gr{
    background-color: #ffffff;
    display: inline-block;
    vertical-align: top;
    padding: 10px 1% 10px 1%;
    margin: 20px 5px 20px 5px;
    width: 200px;
    height: 380px;
    cursor: pointer;
    border: 3px solid #ffffff;
    color: #000000;
}

.study-gr-anno ul>div{
    background-color:#ffffff;
}

.card-esami h4{
    color: black;
}

.card-esami{
    background-color: #f2f2f2;
    display: inline-block;
    vertical-align: top;
    padding: 10px 1% 10px 1%;
    margin: 20px 5px 20px 20px;
    width: 200px;
    height: 200px;
    cursor: pointer;
    border: 3px solid #f2f2f2
}

.card-esami:hover, .card-study-gr:hover{
    border: 3px solid #bb2e29;
}

.el-esami{
    display: none;
}

.card-stGr-img, #add-stGr{
    display: flex;
    justify-content: center;
}

.esami-img{
    display: flex;
    justify-content: center;
}

div.study-gr-anno ul div h2{
    text-align: center;
}

.part-stGr{
    position: relative;
    float: right;
}

.part-stGr img{
    display: block;
    z-index: 0;
    width: 50px;
    height: 50px;
}

.conta-part{
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 13px;
}

.add-stGr{
    margin: 70px 0 40px 0;
}

/* Contatti */

table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table th, table td{
    border: 1px solid #000;
    padding: 5px 2px 5px 2px;
}

table tr{
    text-align: center;
}



#nav-principale ul li a:hover, div ul li a:hover, #nav-sg ul li a:hover{
    text-decoration: underline;
}

.card-text ul li form{
    display: inline-block;
}

/*studygroup*/

.sg, .msg, .risorse-sg{
    padding: 0 2% 0 2%;
}

#sg-anag{
    display: none;
}

.button-sg ul li{
    display: inline-block;
    margin-right: 10px;
}

.partecipanti form input{
    display: none;
}

#nav-sg ul{
    display: flex;
    justify-content: space-around;
}

#nav-sg ul li{
    width: 150px;
    margin: 10px 0 10px 0;
    text-align: center;
    background-color: #bb2e29; 
    border-radius: 10px;
    padding: 0;
}

#nav-sg ul{
    padding-inline-start: 0;
}

#nav-sg ul li a{
    display: inline-block;
    width:100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
    vertical-align: center;
    padding: 10px 0 10px 0;
}

#nav-sg ul{
    margin: 16px 0 0 0;
}

.dettaglio-sg, .elenco-partecipanti, .carica-ris, .elenco-ris, .struttura-msg, .nuovo-msg, #newsg{
    padding: 5px 2% 20px 2%;
    margin: 5px 1% 20px 1%;
    border-radius: 10px;
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
}

.elenco-partecipanti h3, .risorse-sg h3, .struttura-msg h3, .nuovo-msg h3, #newsg h3, .risorse-sg h4, .elenco-ris h4{
    text-align: center;
}

.card-partecipanti ul{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    padding: 0 20px 0 20px;
    margin: 15px;
    background-color: #ffffff;
}

.card-partecipanti{
    width: 350px;
    display: inline-block;
}

.partecipanti{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-partecipanti ul li:first-of-type, .img-msg, .intestazione-user>p{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #bb2e29;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.imguser{
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.email{
    width: 30px;
    height: 30px;
}

/*messaggi*/

ul{
    list-style: none;
}

.el-msg, #crea-msg{
    display: flex;
    align-items: top;
}

.user-msg{
    display: flex;
    font-size: 15px;
}

.card-msg, .card-nuovomsg{
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #bb2e29;
    padding: 0 20px 0 20px;
    margin: 0 20px 20px 10px;
    max-width: 70%;
}

.testo-msg p{
    word-wrap: break-word;
}

.card-nuovomsg{
    width: 90%;
}

.card-nuovomsg ul li label{
    width: 20%;
}

.card-nuovomsg ul li input:not([type="submit"]){
    width: 80%;
}

.card-nuovomsg ul li:last-of-type{
    padding-bottom: 20px;
}

.card-msg h4, .card-msg p{
    margin: 10px 0 8px 0;    
}

.card-msg p{
    margin: 0 0 10px 0;
}

/*risorse sg*/

.tabella-ris{
    display: flex;
    justify-content: center;
}

.elenco-ris table{
    background-color: #ffffff;
    width: 80%;
}

#meet, #teams, #discord{
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin: 0 5px 0;
}

/*notifica*/

.tab-notifica{
    display: flex;
    justify-content: center;
}

.tab-notifica table{
    margin: 20px;
    width: 80%
}

.tab-notifica td{
    padding: 10px;
}

.guardapwd{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Accesso negato - Account eliminato - Disiscrizione sg*/

.accesso-negato, .account-eliminato, .disiscrivi-sg{
    margin: 10px 2% 10px 2%;
}