*{
    font-family: Arial, sans-serif ;
}


header,body{
    margin : 0; 
    padding : 0;
}


body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;

}

header,footer{
    background-color: #bb2e29;

}

header img{
     margin : 5px 5% ;
     

}

header{
    display : flex;
}

header .lang-switch{
    margin-left: 65%;

}

header .hamburger {
    margin-left: 5%;
}

.img-destra {
    text-align: right;
}

.img-destra img {
    
    height: auto;
    display: block;

}



div.descrizione,div.img-destra{
    display:inline-block;
    vertical-align: top;
    margin : 0 0 0 0;
    padding: 0;

}

div.descrizione{
    margin: 0 7.7% 0 2%;
    width:40%;
    box-sizing: border-box;
    
}

div.img-destra{
    
    margin:0px 0% 20px 0%;
    width:50%;
    box-sizing: border-box;
    align-items: right;
    padding: 0;
}

div.img-destra img{

    width : 100%;
    box-sizing: border-box;
    padding : 0;
}


